.body{
    font-family: sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#result{
    background: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px ;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 12px;
    position: absolute;
}

.joycon {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .left-panel, .right-panel {
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .left-panel {
    background-color: #cde;
  }
  
  .middle-buttons {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
  }

  .button {
  padding: 20px 20px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 2px 2px 4px #aaa;
  cursor: pointer;
  font-size: 16px;
}

.right-panel button {
  background-color: #f8cbd1;
  padding: 20px 20px;
  border-radius: 20px;
  flex-direction: column;
}

button:hover {
  background-color: #ddd;
}